.portfolio {
  height: 100%;
  background-color: $color-4;
  border-radius: 20px;
  padding: 10px;

  //gradient background
  background: linear-gradient(115deg, $color-4 20%, $color-5 100%);
  width: 100%;
  min-height: 500px;
  position: relative;
  overflow: hidden;

  h1,
  h3,
  a {
    margin: 30px 0 0px 250px;
    @media screen and (max-width: 1200px) {
      margin-left: 15%;
    }
  }
  h1 {
    font-weight: 100;
    font-size: 4rem;
    margin-top: 100px;
    @media screen and (max-width: 1200px) {
      margin-top: 50px;
    }
    @media screen and (max-width: 800px) {
      font-size: 3rem;
    }
  }
  h3 {
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 90px;
    @media screen and (max-width: 800px) {
      font-size: 1.2rem;
    }
  }
  a {
    text-decoration: none;
    color: $color-4;
    background-color: $color-2;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.3s ease-out;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    &:hover {
      color: $color-5;
      background-color: $color-3;
      transition: all 0.3s ease-out;
    }
  }
  .home-header {
    .img-react {
      position: absolute;
      height: 200px;
      left: 60%;
      animation: updown 3s linear infinite;
      @media screen  and (max-width:800px){
        display: none;
    }
    }
    @keyframes updown {
      0% {
        transform: translateY(-20px);
      }
      50% {
        transform: translateY(20px);
      }
      100% {
        transform: translateY(-20px);
      }
    }
    .balise {
      position: absolute;
      bottom: 25%;
      left: 12%;
    }
    .img-balise {
      position: absolute;
      height: 150px;
      margin-top: 0px;
      left: 10%;
      animation: upside 3s linear infinite;
    }
    @keyframes upside {
      0% {
        transform: translateX(-20px);
      }
      50% {
        transform: translateX(20px);
      }
      100% {
        transform: translateX(-20px);
      }
    }
  }
}
